@font-face {
    font-family: 'Magistral';
    src: url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Medium.woff2') format('woff2'),
        url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magistral Book';
    src: url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Book.woff2') format('woff2'),
        url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magistral';
    src: url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Bold.woff2') format('woff2'),
        url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Magistral';
    src: url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Light.woff2') format('woff2'),
        url('https://github.com/AnnaiProsis/testSACFont/blob/main/Magistral-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

